* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  ---main-color: #00abf0;
  ---secondary-color: #ededed;
  ---third-color: #081b29;
  ---background-color: #0000006d;
  ---background-color-2: #070707;
}

body {
  color: var(---secondary-color);
  background: var(---background-color-2);
  margin: 0 auto;
  display: block;
  max-width: 150%;
}

.container {
  max-width: 120%;
  display: block;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3% 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: sticky;
  font-size: 22px;
  color: var(---main-color);
  text-decoration: none;
}

.logo::before {
  content: "";
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(---background-color);
  animation: showRight 1s ease forwards;
  animation-delay: 0.1s;
}
.navbar a {
  font-size: 120%;
  color: var(---secondary-color);
  text-decoration: none;
  font-weight: 500;
  margin-right: 70px;
  margin-left: 60px;
  justify-content: space-evenly;
  transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
  color: var(---main-color);
}

.home {
  height: 100vh;
  background: url("home.jpg") no-repeat;
  background-size: cover;
  background-position: right;
  background-size: 700px;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.2;
}
.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(---background-color);
  animation: showRight 1s ease forwards;
  animation-delay: 0.6s;
}
.home-content h3 {
  position: relative;
  font-size: 22px;
  font-weight: 200;
  color: var(---main-color);
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(---background-color);
  animation: showRight 1s ease forwards;
  animation-delay: 0.5s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(---background-color);
  animation: showRight 1s ease forwards;
  animation-delay: 0.6s;
}
.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(---background-color);
  animation: showRight 1s ease forwards;
  animation-delay: 0.8s;
  z-index: 2;
}
.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(---main-color);
  border: 2px solid var(---main-color);
  border-radius: 8px;
  font-size: 19px;
  color: var(---third-color);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: var(---main-color);
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: var(---main-color);
}

.btn-box a:nth-child(2):hover {
  color: var(---background-color);
}

.btn-box a:nth-child(2)::before {
  background: var(---main-color);
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(---background-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.home-sci::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(---background-color);
  animation: showRight 1s ease forwards;
  animation-delay: 0.6s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(---main-color);
  border-radius: 60% 70% 20%;
  font-size: 20px;
  color: var(---main-color);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: var(---third-color);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(---main-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0%;
  width: 55%;
  height: 100%;
  background: transparent;
  transition: 1s;
  animation: manipActiveHover 0.1s forwards;
  animation-delay: 2s;
  pointer-events: none;
}

.home-imgHover:hover {
  background: var(---background-color);
  opacity: 0.4;
}

.home-imgHover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;
  height: 100%;
  background: var(---background-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
  z-index: 100;
}

/*KEYFRAMES ANIMATION*/
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

h5 {
  text-align: center;
  display: block;
  font-size: 30px;
  margin-top: 400px;
}

.about-me-title {
  margin-top: 190px;
}
.about-me-text {
  display: block;
  text-align: center;
  line-height: 2;
  padding-top: 10px;
  max-width: 700px;
  margin-left: 350px;
  margin: 0 auto;
}
.email-address {
  text-align: center;
  display: block;
  color: var(---main-color);
  padding: 5px;
  margin-bottom: 10px;
}

.container-fluid {
  justify-content: space-evenly;
  display: block;
  margin: 150px auto;
}

.link-button {
  display: block;
  margin: 0 auto;
  color: var(---secondary-color);
  background-color: var(---main-color);
  border: 1px solid var(---third-color);
  border-radius: 12px;
  max-width: 40%;
}
.link-button:hover {
  border: 1px solid var(---third-color);
  background-color: var(---secondary-color);
  color: var(---main-color);
}

.fixed-top {
  position: absolute;
  background-color: transparent;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  body {
    max-width: 150%;
    margin-left: 0 auto;
  }
  .home {
    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(18, 18, 18, 0.5)),
      url(/css/home.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    background-size: 700px;
    display: flex;
    margin-left: 0 auto;
    padding-left: 1%;
    max-width: 600px;
  }
  .home-content {
    max-width: 600px;
  }
  .home h1 {
    font-size: 30px;
  }
  .btn-box {
    max-width: 70%;
    justify-content: space-around;
    padding: 2px;
  }

  .lets-talk {
    margin-left: 10px;
  }
  .home h3,
  p {
    font-size: 15px;
  }
  .about-me-page {
    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(0, 0, 0, 0.784)),
      url(/css/home.jpg) no-repeat;
    background-size: cover;
    background-size: 200px;
    background-position: right;
  }
  .about-me-title {
    margin-top: 150px;
  }
  .about-me-text {
    font-size: 13px;
    padding: 1px 25px;
  }
  .header {
    padding-left: 0%;
  }
  .portfolio-text {
    font-size: 13px;
  }
  .contact-me {
    font-size: 17px;
  }
  .email-address {
    margin-bottom: 50px;
  }
  .navbar {
    width: 400px;
  }
}

.about-me-page {
  background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(18, 18, 18, 0.5)),
    url(/css/home.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  background-size: 800px;
  background-color: var(---background-color);
}
